body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fileInputContainer {
  position: relative;
  display: inline-block;
}

.fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fileInputLabel {
  background-color: #313131;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: small;
}

.audioPlayer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: '#121212';
  color: white;
  align-items: center;
  justify-content: center;
  height: '100%';
  width: '100%';
}

.twoSides {
  display: flex;
  flex-direction: row;
  background-color: '#121212';
  color: white;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.breakpointList {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 80px;
}

.breakpoint {
  margin: 5px;
}

.audioSide {
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: '#121212';
  color: white;
  align-items: center;
  justify-content: center;
  flex: 2;
  border-right: 1px solid white;
}

.audioPlayerBar {
  width: 80%; /* or specify a fixed width */
  /* max-width: 500px; */
}

.breakpointSide {
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: '#121212';
  color: white;
  align-items: center;
  flex: 1;
  justify-content: center;
}

button {
  background-color: #313131;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: small;
  cursor: pointer;
}

.deleteBreakpoint {
  background-color: #121212;
  color: rgb(142, 142, 142);
  padding: 5px;
  margin-left: 3px;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

